<div class="header">
    <a routerLink="/dashboard" class="logo">Customer Profiling</a>
</div>
<mat-sidenav-container class="navContainer">
    <mat-sidenav class="sideContent" *ngIf="_auth.isLoggedIn()" mode="side" opened>
        <div class="userDetail">
            <h3>
                <em>Welcome,
                    <strong>{{user}}</strong>
                </em>
            </h3>
        </div>
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
                <mat-icon>dashboard</mat-icon>Dashboard</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="/projects" routerLinkActive="active">
                <mat-icon>filter_list</mat-icon>Projects</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="/datasets" routerLinkActive="active">
                <mat-icon>router</mat-icon>Datasets</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item href="javascript:void(0)" routerLinkActive="active">
                <mat-icon>developer_board</mat-icon>Algorithm</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item href="javascript:void(0)" routerLinkActive="active">
                <mat-icon>computer</mat-icon>System monitor</a>
        </mat-nav-list>
        <mat-nav-list class="logout">
            <a mat-list-item (click)="logout()" routerLinkActive="active">
                <mat-icon>exit_to_app</mat-icon>Logout</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="mainContent">
        <router-outlet (activate)="setUser()"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>