<div class="header">
    <a routerLink="/dashboard" class="logo">Customer Profiling</a>
</div>
<mat-sidenav-container class="navContainer">
    <mat-sidenav class="sideContent" *ngIf="_auth.isLoggedIn()" mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="/projects" routerLinkActive="active">
                <mat-icon>filter_list</mat-icon>
                <span>Projects</span>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="/datasets" routerLinkActive="active">
                <mat-icon>router</mat-icon>
                <span>Datasets</span>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="/algorithms" routerLinkActive="active">
                <mat-icon>developer_board</mat-icon>
                <span>Algorithms</span>
            </a>
        </mat-nav-list>
        <mat-nav-list class="logout">
            <a mat-list-item (click)="logout()" routerLinkActive="active">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="mainContent">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>