<div id="projectOverview">
  <h2 class="op-title">Project overview</h2>
  <mat-dialog-content *ngIf="project">
    <!-- ROW 1 -->
    <div class="flex space-around align-items-center">
      <mat-form-field class="po-input">
        <input matInput placeholder="Project name" [(ngModel)]="project.projectName" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="po-input" appearance="outline">
        <textarea matInput placeholder="Project description" [(ngModel)]="project.description" autocomplete="off"></textarea>
      </mat-form-field>
    </div>
    <!-- ROW 2 -->
    <div class="flex space-around align-items-center">
      <div class="box">
        <strong>Created:</strong> {{project.creationDate | date}}
      </div>
      <div class="box">
        <strong>Last opened:</strong>
        <span *ngIf="project.lastOpened; else noData">
          {{project.lastOpened | date}}
        </span>
        <ng-template #noData>
          <i>
            No data.
          </i>
        </ng-template>
      </div>
      <div class="box">
        <strong>Project status:</strong> {{project.status}}
      </div>
    </div>
    <mat-dialog-actions class="buttonsFirst">
      <button type="submit" color="primary" mat-raised-button (click)="editProject(project)">Save</button>
    </mat-dialog-actions>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <!-- Select dataset -->
  <mat-dialog-content>
    <h2 class="op-title">Dataset details</h2>
    <!-- ROW 1 -->
    <div class="flex space-around align-items-center">
      <!-- Select Dataset -->
      <mat-form-field class="po-input" *ngIf="linked && dataset">
        <mat-select [disabled]="disableSelect" [(ngModel)]="datasetName" (selectionChange)="selectedDataset($event)" placeholder="Select dataset">
          <mat-option *ngFor="let data of dataset; let i = index" [value]="data.name">{{data.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Empty div - flexbox -->
      <div *ngIf="!details" class="empty-box"></div>
      <!-- Description -->
      <div *ngIf="details" class="details-box justify">
        <strong>Description</strong>
        <br>
        <br> {{details.datasetDesc}}
      </div>
    </div>
    <div *ngIf="details" class="flex space-around align-items-center">
      <div class="box">
        <strong>Dataset size: </strong>
        {{details.datasetSize}} KB
      </div>
      <div class="box">
        <strong>Number of rows: </strong>
        {{details.numberOfRows}}
      </div>
      <div class="box">
        <strong>Number of variables: </strong>
        {{details.numberOfVariables}}
      </div>
    </div>
    <mat-divider></mat-divider>
    <!-- List of VARIABLES -->
    <div *ngIf="details && details.variableDetails" class="flex">
      <div class="flex column variables" *ngIf="details.variableDetails.length> 0;else noData">
        <h2 class="op-title">Variable details</h2>
        <div class="variables-box">
          <div class="flex column-style header-style">
            <span>Name</span>
            <span>Distinct Count</span>
            <span>Min</span>
            <span>Max</span>
            <span>Average</span>
            <span>Variance</span>
          </div>
          <div class="flex  column-style variables-data" *ngFor="let item of  details.variableDetails; let i = index">
            <span>{{item.variableName}}</span>
            <span>{{item.distinctCount}}</span>
            <span>{{item.min}}</span>
            <span>{{item.max}}</span>
            <span>{{item.average}}</span>
            <span>{{item.variance}}</span>
          </div>
        </div>
        <ng-template #noData>
          <span>No data.</span>
        </ng-template>
      </div>
    </div>
  </mat-dialog-content>

  <mat-divider></mat-divider>
  <!-- Projects Properties -->
  <h2 class="op-title">Project properties</h2>
  <div class="cards">
    <mat-card *ngIf="algorithms">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Algorithms</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content *ngFor="let algorithm of algorithms">
        <span>
          <strong>Algorithm Name:</strong> {{algorithm.algorithmName}}</span>
        <br>
        <span>
          <strong>Algorithm Description:</strong> {{algorithm.description}}</span>
        <br>
        <span>
          <strong>Algorithm Library:</strong> {{algorithm.library}}</span>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Questions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>