<div id="projectOverview">
  <h1>Project overview</h1>
  <mat-dialog-content *ngIf="projectId">
    <h4 class="subtitle">Project details for project ID: {{projectId.id}}</h4>
    <mat-form-field>
      <input matInput placeholder="Project name" [(ngModel)]="projectId.projectName" autocomplete="off">
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea matInput placeholder="Project description" [(ngModel)]="projectId.description" autocomplete="off"></textarea>
    </mat-form-field>
    <div>Created: {{projectId.creationDate | date}}</div>
    <div>Last opened: {{projectId.lastOpened | date}}</div>
    <div>Projects status: {{projectId.status}}</div>
    <mat-dialog-actions class="buttonsFirst">
      <button type="submit" color="primary" mat-raised-button>Save</button>
    </mat-dialog-actions>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <!-- Select dataset -->
  <mat-dialog-content>
    <h4 class="subtitle">Dataset details</h4>

    <!-- za selektovanje dataseta -  nije zavrseno -->
    <mat-form-field >
      <mat-select (selectionChange)="selectedDataset($event,id)">
        <mat-option  *ngFor="let data of dataset; let i = index" >{{data.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Dataset preview details"></textarea>
    </mat-form-field>
    <mat-dialog-actions class="buttons">
      <button type="submit" color="primary" mat-raised-button>Link Dataset</button>
    </mat-dialog-actions>
  </mat-dialog-content>

  <mat-divider></mat-divider>
  <!-- Projects Properties -->
  <h4 class="subtitle">Project properties</h4>
  <div class="cards" >
    <mat-card *ngIf="algorithms">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Algorithms</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content *ngFor="let algorithm of algorithms">
        <span><strong>Algorithm Name:</strong> {{algorithm.algorithmName}}</span><br>
        <span><strong>Algorithm Description:</strong> {{algorithm.description}}</span><br>
        <span><strong>Algorithm Library:</strong> {{algorithm.library}}</span>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Questions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
