@import '../app.component.scss';

#projectOverview {
  margin-left: 20%;
mat-dialog-content {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.details div {
  margin-right: 10px;
  text-transform: uppercase;
  border: 1px solid $accent;
  padding: 10px 20px;
}
.buttons {
  float: right;
  margin-right: 40%;
}
}
