<div id="data-tab">
  <!-- Basic info -->
  <h2 class="subtitle">DATASET - Info & Stats</h2>
  <div class="flex column border">
    <!-- DATASET DETAILS -->

    <div *ngIf="details">
      <div class="flex space-around align-items-center">
        <div class="details-item">
          <strong>Name </strong>
          <br> {{details.datasetName}}
        </div>
        <div class="details-item">
          <strong>Description </strong>
          <br> {{details.datasetDesc}}
        </div>
      </div>
      <div class="flex space-around align-items-center">
        <div class="details-item-dark">
          <strong>Dataset size: </strong>
          {{details.datasetSize}} KB
        </div>
        <div class="details-item-dark">
          <strong>Number of rows: </strong>
          {{details.numberOfRows}}
        </div>
        <div class="details-item-dark">
          <strong>Number of variables: </strong>
          {{details.numberOfVariables}}
        </div>
      </div>
    </div>
    <!-- List of VARIABLES -->
    <div *ngIf="details && details.variableDetails" class="flex">
      <div class="flex column variables" *ngIf="details.variableDetails.length> 0;else noData">
        <h2 class="op-title">Variable details</h2>
        <div class="variables-box">
          <div class="flex column-style header-style">
            <span>Name</span>
            <span>Distinct Count</span>
            <span>Min</span>
            <span>Max</span>
            <span>Average</span>
            <span>Variance</span>
          </div>
          <div class="flex  column-style variables-data" *ngFor="let item of  details.variableDetails; let i = index">
            <span>{{item.variableName}}</span>
            <span>{{item.distinctCount}}</span>
            <span>{{item.min}}</span>
            <span>{{item.max}}</span>
            <span>{{item.average}}</span>
            <span>{{item.variance}}</span>
          </div>
        </div>
        <ng-template #noData>
          <span>No data.</span>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- Pre Processing -->
  <h2 *ngIf="!isDatasetLinked" class="subtitle">DATASET - Pre Processing</h2>
  <div *ngIf="!isDatasetLinked" class="border">
    <!-- Titles -->
    <div class="flex space-around title-bar" *ngIf="variables">
      <span class="processing-title">
        Variable Name
      </span>
      <span class="processing-title">
        Type of Variable
      </span>
      <span class="processing-title">
        Type of Data
      </span>
      <span class="processing-title">
        Type of Operation
      </span>
      <span class="processing-title">
        Parameters
      </span>
    </div>
    <!-- Data -->
    <div class="flex column">
      <div *ngFor="let variable of variables; let i = index" class="flex space-around variable-items">
        <!-- Variable Name -->
        <span>{{variable.variableName}}</span>

        <!-- Variable Type -->
        <mat-form-field>
          <mat-select (selectionChange)="selectionChanged($event, i, 'typeOfVariable')" placeholder="Variable Type" [(ngModel)]="variables[i].typeOfVariable">
            <mat-option *ngFor="let type of variableTypes" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Data Type -->
        <mat-form-field>
          <mat-select [disabled]="variables[i].typeOfData =='TEXT' && !variablesHelperArr[i].typeOfDataChanged" [(ngModel)]="variables[i].typeOfData"
            (selectionChange)="selectionChanged($event, i, 'typeOfData')" placeholder="Data Type">
            <mat-option *ngFor="let type of dataTypes" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Operation Type -->
        <div>
          <!-- Numeric -->
          <mat-form-field *ngIf="variables[i].typeOfData == 'NUMERIC'">
            <mat-select [(ngModel)]="variables[i].typeOfOperation" (selectionChange)="setParams($event.value, i)" placeholder="Operation Type">
              <mat-option *ngFor="let type of numericOperationTypes" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Text -->
          <mat-form-field *ngIf="variables[i].typeOfData == 'TEXT'">
            <mat-select [(ngModel)]="variables[i].typeOfOperation" (selectionChange)="setParams($event.value, i)" placeholder="Operation Type">
              <mat-option *ngFor="let type of textOperationTypes" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--  P A R A M S -->
        <span class="params">
          <!-- Min & Max -->
          <div *ngIf="variablesHelperArr[i]['params']; else noData">
            <span *ngIf="variablesHelperArr[i]['params']['minmax'] == true">
              <mat-form-field class="small-input">
                <input [(ngModel)]="variables[i].scaleMin" type="number" (change)="paramsChanged($event, i, 'scaleMin')" matInput placeholder="Min">
              </mat-form-field>
              <mat-form-field class="small-input">
                <input [(ngModel)]="variables[i].scaleMax" type="number" (change)="paramsChanged($event, i, 'scaleMax')" matInput placeholder="Max">
              </mat-form-field>
            </span>
            <!-- Bins -->
            <span *ngIf="variablesHelperArr[i]['params']['bins'] == true">
              <mat-form-field class="small-input">
                <input [(ngModel)]="variables[i].bins" type="number" (change)="paramsChanged($event, i, 'bins')" matInput placeholder="Bins">
              </mat-form-field>
            </span>
          </div>
          <ng-template #noData>
            No parameters.
          </ng-template>
        </span>
      </div>
      <div class="warn-message"> {{message}}</div>
      <!-- Buttons -->
      <span class="buttons">
        <button mat-raised-button color="primary" (click)=submit()>Save</button>
        <button mat-stroked-button color="warn" (click)="viewObject()">View</button>
      </span>
    </div>
  </div>
</div>