@import '../app.component.scss';

#data-tab {
    margin: 5% 10%;

    .border {
        border: 1px solid #E0E0E0;
        padding: 50px;
    }

    .info-box {
        padding: 50px;
        width: 400px;
        margin: 0 20px;
    }

    .title-bar {
        margin-bottom: 20px;
    }
    .details-item {
        margin: 10px 0;
        padding: 25px 20px;
        color: $gray;
        font-size: 17px;
        border: 2px dotted $warn;
        border-radius: 3px;
        width: 40%;
    }
    .details-item-dark {
        margin: 10px 0;
        padding: 30px 25px;
        color: #fff;
        font-size: 15px;
       background-color: $primary;
        border-radius: 3px;
    }
    .details-item-dark strong {
      color: white;
    }
    .op-title {
        color: $gray;
        margin: 30px 0;
      }
      .variables {
        width: 100%;
      }
      .variables-box {
        margin-bottom: 30px;
        border: 1px solid $gray;
        border-radius: 3px;
        padding: 20px;
        width: 90%;
      }
      .header-style {
        color: $accent;
        font-weight: bold;
        font-size: 17px;
        margin: 10px 0;
    }
    .column-style>span {
        width: 16%;
    }
    .variables-data>span {
        // padding-left: 2px;
      }

    // Processing Classes
    .processing-title{
        color: $primary;
        margin-top: 20px;
        font-size: 18px;
        width: 158px;
        font-weight: bold;
    }
    .variable-items>span {
        width: 150px;
        padding: 20px 0;
        font-size: 16px;
    }
    .params {
        padding:  0!important;
        font-size: 16px!important;
        display: flex;
        align-items: center;
    }
    .mat-form-field-infix {
        width: 150px!important;
    }
    .small-input {
        width: 45px!important;
        margin-right: 10px;
    }

    // Buttons
    .buttons {
        margin-top: 40px;
    }
    button {
        float: right;
        margin-left: 10px;
    }
}
