@import '../app.component.scss';

#datasets {
     // Table Classes
 table.mat-table {
    margin-top: 30px;
    width: 80%;
}
tr.mat-header-row {
    background: linear-gradient(to right, $primary, $accent);
}
th.mat-header-cell {
    width: 250px;
    color: #fff;
}
td.mat-cell {
    padding: 10px 10px 10px 0!important;
  }
  td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
    padding-left: 24px!important;
}


.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
    margin-left: 15%;
    margin-right: 15%;
}

.filterInput {
    margin-left: 15%;
}
}