@import '../app.component.scss';
table {
    width: 70%;
    margin-left: 15%;
}

.aboveTable {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
}

button {
    margin-left: 95%;
}

h1 {
    margin-left: 4%;
}

@media (max-width: 1400px) {
    button {
        margin-left: 92%;
    }
}

@media (max-width: 750px) {
    button {
        margin-left: 87%;
    }
}

@media (max-width: 500px) {
    button {
        margin-left: 83%;
    }
}

tr.mat-header-row {
    background: linear-gradient( $primary, $accent);
}

th.mat-header-cell {
    text-align: center;
    color: white;
}

td {
    text-align: center;
}

.addBtn {
    background: $primary;
    color: white!important;
}

table i {
    color: $primary;
    font-size: 22px;
}

h1 {
    color: $gray;
}