@import '../../app.component.scss';

.column {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 17px;
    font-weight: bolder;
}

h1 {
    text-align: center;
}

.inline {
    display: inline-flex;
}

span {
    font-weight: normal;
    padding-left: 10px;
}
.header-style {
    color: $accent;
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0;
}
.column-style>span {
    width: 170px;
}