<div id="one-project" class="flex column center">
    <button (click)="backBtn()" routerLink="/projects" mat-stroked-button color="primary" matTooltip="Back to list of projects"
        matTooltipPosition="right">Back to Projects</button>
    <mat-tab-group color="warn" mat-stretch-tabs class="mat-elevation-z4">
        <mat-tab label="Project Overview">
            <ng-template matTabContent>
                <app-project-overview (disableTabsChange)="disableTabsChange($event)"></app-project-overview>
            </ng-template>
        </mat-tab>
        <mat-tab [disabled]="disableTabs" label="Data">
            <ng-template matTabContent>
                <app-data-tab></app-data-tab>
            </ng-template>
        </mat-tab>
        <mat-tab [disabled]="disableTabs" label="Analyze">
            <ng-template matTabContent>
                <app-analyze></app-analyze>
            </ng-template>
        </mat-tab>
        <mat-tab [disabled]="disableTabs" label="Question">
            <ng-template matTabContent>
                <h1>Question</h1>
                <p>...</p>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>