<div id="analyze">
    <div *ngIf="initialAlgorithm != null" class="flex column border">
        <!-- Name & Description -->
        <h2 class="a-title">Algorithm Details</h2>
        <div class=" flex space-around align-items-center">
            <mat-form-field class="a-input">
                <mat-select [(ngModel)]="initialAlgorithm" [ngModelOptions]="{standalone: true}" placeholder="Select Algorithm" (selectionChange)="getParameters($event.value)">
                    <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm">
                        {{algorithm.algorithmName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="description-box">
                <strong>Description</strong>
                <br> {{initialAlgorithm.description}}
            </div>
        </div>
        <!-- TABLE -->
        <div class="algorithmDetails">
            <table *ngIf="parameters.length != 0" mat-table [dataSource]="parameters" class="mat-elevation-z8">
                <ng-container matColumnDef="parameterName">
                    <th mat-header-cell *matHeaderCellDef> Parameter Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.parameterName}} </td>
                </ng-container>
                <ng-container matColumnDef="parameterValueType">
                    <th mat-header-cell *matHeaderCellDef> Parameter Value Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.parameterValueType}} </td>
                </ng-container>
                <ng-container matColumnDef="parameterValue">
                    <th mat-header-cell *matHeaderCellDef> Parameter Value </th>
                    <td mat-cell *matCellDef="let element"> {{element.parameterValues[0] != null ? element.parameterValues[0].value : element.parameterValues[0].value}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Add Value</th>
                    <td mat-cell *matCellDef="let element let i = index">
                        <i matTooltip="Add value" (click)="addValue(element, i)" matTooltipPosition="above" class="material-icons table-icons"> add </i>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <button class="add" mat-raised-button color="primary" (click)="addAlgorithm()">Add</button>
        </div>
    </div>
    <!-- LIST -->
    <div class="border" *ngIf="this.listOfAlgorithms">
        <h2 class="a-title">Selected Algorithms</h2>
        <div class="flex list-box">
            <div class="flex column" *ngIf="listOfAlgorithms.length>0; else noData">
                <div class="algorithm-list" *ngFor="let algorithm of listOfAlgorithms; let i = index">
                    <div class="flex space-between algorithm-list-item">
                        <span>{{algorithm.algorithmName}}</span>
                        <span>
                            <i (click)="editParams(algorithm.parameters, i)" class="list-icons material-icons">border_color</i>
                            <i (click)="deleteAlgorithm(algorithm.id, algorithm.algorithmName)" class=" list-icons material-icons">delete</i>
                        </span>
                    </div>
                </div>
            </div>
            <ng-template #noData>
                <i>No selected algorithms.</i>
            </ng-template>
            <div class="flex column status-container">
                <div *ngIf="status" class="status-box flex center">
                    {{status}}
                </div>
                <button mat-raised-button color="primary" (click)="analyze()">Analyze</button>
            </div>
        </div>
    </div>
</div>