<div class="selectAlgorithm">
    <h4>Select Algorithm:</h4>
    <div *ngIf="initialAlgorithm != null">
        <mat-form-field>
            <mat-select [(ngModel)]="initialAlgorithm" [ngModelOptions]="{standalone: true}" placeholder="Select Algorithm" (selectionChange)="getParameters($event.value)">
                <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm">
                    {{algorithm.algorithmName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <h4>Algorithm Details:</h4>
        <div *ngIf="parameters.length != 0" class="algorithmDetails">
            <label class="labels">
                <strong class="name">Algorithm Name:</strong> {{initialAlgorithm.algorithmName}}</label>
            <label class="labels bottomLabel">
                <strong class="desc">Algorithm Description:</strong> {{initialAlgorithm.description}}</label>
            <table mat-table [dataSource]="parameters" class="mat-elevation-z8">
                <ng-container matColumnDef="parameterName">
                    <th mat-header-cell *matHeaderCellDef> Parameter Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.parameterName}} </td>
                </ng-container>
                <ng-container matColumnDef="parameterValueType">
                    <th mat-header-cell *matHeaderCellDef> Parameter Value Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.parameterValueType}} </td>
                </ng-container>
                <ng-container matColumnDef="parameterValue">
                    <th mat-header-cell *matHeaderCellDef> Parameter Value </th>
                    <td mat-cell *matCellDef="let element"> {{element.parameterValues[0] != null ? element.parameterValues[0].value : element.parameterValues[0].value}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Add Value</th>
                    <td mat-cell *matCellDef="let elementl let i = index">
                        <i matTooltip="Add value" (click)="addValue(element, i)" matTooltipPosition="above" class="material-icons table-icons"> add </i>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <button mat-raised-button color="primary" (click)="addAlgorithm()">Add</button>
        </div>
    </div>
</div>
<div class="selectAlgorithm" *ngIf="this.listOfAlgorithms">
    <div class="flex column algorithm-list" *ngFor="let algorithm of listOfAlgorithms">
        <div class="flex space-between algorithm-list-item">
            <span>{{algorithm.algorithmName}}</span>
            <span>
                <i (click)="editParams(algorithm.parameters)" class="material-icons">border_color</i>
                <i (click)="deleteAlgorithm(algorithm.id, algorithm.algorithmName)" class="material-icons">delete</i>
            </span>
        </div>
    </div>
</div>