@import '../app.component.scss';
.loginForm {
  width: 100%;
}

.loginFormField {
  width: 90%;
  margin-left: 5%;
}

.loginCard {
  min-width: 150px;
  max-width: 350px;
  width: 90%;
  padding: 50px 10px;
  background: white;
  color: $primary;
}

.loginActions {
  margin-bottom: -15px;
}

#loginBgr {
  margin-top: 10%;
  height: 50%;
  display: flex;
  flex-direction: row;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // background-color: $primary;
  background: linear-gradient(to right, $primary, $accent);
  padding: 5% 0;
}

.logImg {
  width: 350px;
  height: 370px;
  background-image: url('../../assets/usr.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10%;
  margin-right: 5%;
}

.signUp:hover {
  background-color: $primary;
  color: white;
  transition: 1s;
}
.wrap {
  flex-wrap: wrap;
}
mat-card-title {
  text-align: center;
  padding-top: 5%;
}
mat-error {
  margin-left: 5%;
}
.mat-card-actions {
  margin-left: 0px !important;
}
