@import '../app.component.scss';
.loginForm {
  width: 100%;
}

.loginFormField {
  width: 90%;
  margin-left: 5%;
}
.signupFormField {
  width: 40%;
  margin-left: 5%;
}
.loginCard {
  min-width: 190px;
  max-width: 400px;
  width: 100%;
  padding: 50px 10px;
  background: white;
  color: $primary;
}

.loginActions {
  margin-bottom: -15px;
}

#loginBgr {
  margin-top: 10%;
  height: 65%;
  display: flex;
  flex-direction: row;
  width: 80%;
  min-width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // background-color: $primary;
  background: linear-gradient(to right, $primary, $accent);
  padding: 5% 2%;
}

.logImg {
  width: 50%;
  height: 90%;
  background-repeat: no-repeat;
  margin-right: 2%;
  margin-top: -15px;
}
.logImg img {
  max-width: 90%;
  height: auto;
  margin-left: 5%;
}

.signUp:hover {
  background-color: $primary;
  color: white;
  transition: 1s;
}
.wrap {
  flex-wrap: wrap;
}
mat-card-title {
  text-align: center;
  padding-top: 5%;
}
mat-error {
  margin-left: 5%;
}
.mat-card-actions {
  margin-left: 0px !important;
}
.signupCard {
  min-width: 190px;
  max-width: 700px;
  width: 100%;
  padding: 50px 10px;
  background: white;
  color: #00897B;
}

