@import '../app.component.scss';
.loginForm {
  width: 100%;
  height: 100%;
}

.signupForm {
  height: 85%!important;
  justify-content: space-between;
}

.signupFormField {
  width: 90%;
}
.loginCard {
  min-width: 190px;
  // width: 800px!important;
  width: 100%;
  // padding: 50px 10px;
  background: white;
  color: $primary;
}
.loginActions {
  display: flex!important;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 20px!important;
}
.loginActions>button {
  margin-left: 10px;
}

#loginBgr {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(to right, $primary, $accent);
  padding: 2%;
  height: 450px;
  margin: 10%;
}

.logImg {
  width: 50%;
  background-repeat: no-repeat;
}
.logImg img {
  max-width: 250px;
  height: auto;
}
.loginFormField {
  width: 70%;
  align-self: center;
}

.wrap {
  flex-wrap: wrap;
}
mat-card-title {
  text-align: center;
  padding-top: 5%;
}
mat-error {
  margin-left: 5%;
}
.mat-card-actions {
  margin-left: 0px !important;
}
.signupCard {
  min-width: 190px;
  max-width: 700px;
  width: 100%;
  padding: 50px 10px;
  background: white;
  color: #00897B;
}
.signup-columns {
  width: 50%;
}
.sign-up-error {
  font-size: 12px!important;
}
.signUpActions {
  display: flex!important;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 20px!important;
}
.signUpActions>div>button {
  margin-left: 10px!important;
}
