#newQuery {
  display: flex;
  flex-direction: column;
.fourBoxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
  .box {
    // width: 50%;
    // margin: 30px 0;
    padding: 35px 30px;
    color: #00897B;
    font-size: 15px;
    border: 2px solid #4DB6AC;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
  }

  .box2 {
    // width: 50%;
    // margin: 30px 0;
    padding: 40px 30px;
    color: #00897B;
    font-size: 15px;
    border: 2px solid #4DB6AC;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
  }

  .boxWrap {
    width: 30%;
    // margin: 30px 0;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
  }

  h3 {
    // margin-top: -65px;
    margin-left: 0;
    color: gray;
  }

  .varBox {
    border: 2px solid #4DB6AC;
    padding: 18px 8px;
    text-align: center;
    color: gray;
    margin: 3px 0;
  }

  mat-form-field {
    width: 100%;
  }
  button {
    float: right;
    margin-right: 10%;
  }
}
