<div id="editProject">
    <h1>Edit Project</h1>
      <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder=" Project name">
    </mat-form-field><br>
    <mat-form-field>
        <input matInput placeholder=" Project date">
      </mat-form-field><br>
      <mat-form-field>
          <input matInput placeholder=" Project status">
        </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="buttons">
      <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
      <button type="submit" color="warn" mat-raised-button>Save</button>
  </mat-dialog-actions>
  </div>

