<h1>Dashboard</h1>
<div class="dashboardPanel">
  <div class="flex-grid">
    <div class="col">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-title>Projects Overview</mat-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content *ngIf="projectsArr">
          <mat-nav-list>
            <mat-list-item *ngFor="let project of projectsArr; let i = index" (click)="projectClick(project.id)" (dblclick)="projectDblclick(project.id)">
              <div class="flex space-between list-wrapper">
                <span> {{project.projectName}}</span>
                <mat-chip-list>
                  <mat-chip [ngStyle]="{'backgroundColor':getColor(project.status)}" selected>{{project.status}}</mat-chip>
                </mat-chip-list>
              </div>
            </mat-list-item>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-title>Datasets Overview</mat-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-nav-list>
            <mat-list-item *ngFor="let datasets of dataset; let i = index" (click)="datasetClick(datasets.id)">{{datasets.name}}</mat-list-item>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-title>Analytical Tools Overview</mat-title>
        </mat-card-header>
        <mat-card-content>
          <mat-nav-list>
            <mat-list-item *ngFor="let algorithms of algorithm; let i = index" (click)="algorithmClick(algorithms.id)">{{algorithms.algorithmName}}</mat-list-item>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- <div class="flex-grid"> -->
  <!-- <div class="col">
            <mat-card class="dashboard-card">
                <mat-title>System Monitor Overview</mat-title>
            </mat-card>
        </div> -->
  <!-- </div> -->
  <div class="flex-grid">
    <div class="colFullHeight">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-title>Panel Details</mat-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <div *ngIf="projectDetails && panelProject">
              <h3>Project Details</h3>
              <span>
                <strong>Project Id: </strong>{{projectDetails.project.id}},</span>
              <br>
              <span>
                <strong>Project Name: </strong> {{projectDetails.project.projectName}}</span>
              <br>
              <span>
                <strong>Status: </strong>{{projectDetails.project.status}}</span>
              <br>
              <span>
                <strong>Desription: </strong>{{projectDetails.project.description}}</span>
              <br>
              <span>
                <strong>Creation Date: </strong>{{projectDetails.project.creationDate | date}}</span>
              <br>
              <span *ngIf="projectDetails.project.lastOpened">
                <strong>Last Opened: </strong>{{projectDetails.project.lastOpened | date}}</span>
              <br>
              <span *ngIf="projectDetails.dataset">
                <strong>Dataset Name: </strong>{{projectDetails.dataset.name}}</span>
              <br>
              <div *ngIf="projectDetails.algorithms">
                <strong>Algorithms Name: </strong>
                <span *ngFor=" let al of projectDetails.algorithms">{{al.algorithmName}}, </span>
              </div>

            </div>
            <div *ngIf="data && panelData">
              <h3>Dataset Details</h3>
              <span>
                <strong>Dataset Name: </strong>{{data.datasetName}}</span>
              <br>
              <span>
                <strong>Dataset Description: </strong>{{data.datasetDesc}}</span>
              <br>
              <span>
                <strong>Dataset Size: </strong>{{data.datasetSize}}</span>
              <br>
              <span>
                <strong>Number Of Variables: </strong>{{data.numberOfVariables}}</span>
              <br>
              <span>
                <strong>Number Of Rows: </strong>{{data.numberOfRows}}</span>

              <h3>Variable Details</h3>
              <div>
                <table mat-table [dataSource]="data.variableDetails" class="mat-elevation-z8">

                  <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.variableName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Average">
                    <th mat-header-cell *matHeaderCellDef> Average </th>
                    <td mat-cell *matCellDef="let element"> {{element.average}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Distinct Count">
                    <th mat-header-cell *matHeaderCellDef> Distinct Count </th>
                    <td mat-cell *matCellDef="let element"> {{element.distinctCount}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Minimum">
                    <th mat-header-cell *matHeaderCellDef> Minimum </th>
                    <td mat-cell *matCellDef="let element"> {{element.min}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Maximum">
                    <th mat-header-cell *matHeaderCellDef> Maximum </th>
                    <td mat-cell *matCellDef="let element"> {{element.max}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>
            <div *ngIf="algo && panelAlgo">
              <h3>Algorithm Details</h3>
              <span>
                <strong>Algorithm Name: </strong>{{algo.algorithmName}}</span>
              <br>
              <span>
                <strong>Description: </strong>{{algo.description}}</span>
              <br>
              <span>
                <strong>Library: </strong>{{algo.library}}</span>

              <div>
                <h3 *ngIf="algo.parameters">Parameters Details</h3>
                <table mat-table [dataSource]="algo.parameters" class="mat-elevation-z8">

                  <ng-container matColumnDef="Parameter Name">
                    <th mat-header-cell *matHeaderCellDef> Parameter Name </th>
                    <td mat-cell *matCellDef="let param"> {{param.parameterName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Default Value">
                    <th mat-header-cell *matHeaderCellDef> Default Value </th>
                    <td mat-cell *matCellDef="let param"> {{param.defaultValue}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Value Type">
                    <th mat-header-cell *matHeaderCellDef> Value Type </th>
                    <td mat-cell *matCellDef="let param"> {{param.parameterValueType}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Parameter Value">
                    <th mat-header-cell *matHeaderCellDef> Parameter Value </th>
                    <td mat-cell *matCellDef="let param">
                      <span *ngIf="param.parameterValues">{{param.parameterValues}}</span>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
                </table>
              </div>


            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
