<h1>Dashboard</h1>
<div class="dashboardPanel">
  <div class="flex-grid">
    <div class="col">
      <mat-card class="dashboard-card">
        <mat-title>Projects Overview</mat-title>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="dashboard-card">
        <mat-title>Datasets Overview</mat-title>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="dashboard-card">
        <mat-title>Analytical Tools Overview</mat-title>
      </mat-card>
    </div>
  </div>
  <!-- <div class="flex-grid"> -->
  <!-- <div class="col">
            <mat-card class="dashboard-card">
                <mat-title>System Monitor Overview</mat-title>
            </mat-card>
        </div> -->
  <!-- </div> -->
  <div class="flex-grid">
    <div class="colFullHeight">
      <mat-card class="dashboard-card">
        <mat-title>Panel Detail</mat-title>
      </mat-card>
    </div>
  </div>
</div>
