@import '../app.component.scss';
.dashboardPanel {
    width: 98%;
    margin-left: 2%;
}

.flex-grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.col {
    width: 49%;
    height: 250px;
    border-width: 1px;
    border-style: groove;
    border-color: #E1F5FE;
}

.colFullWidth {
    width: 100%;
    height: 240px;
    border-width: 1px;
    border-style: groove;
    border-color: #E1F5FE;
}

mat-card.dashboard-card {
    background: $primary!important;
    color: white!important;
}

//responsive for smaller screens
@media (max-width: 400px) {
    .flex-grid {
        display: block;
    }
    .col {
        margin-top: 1%;
        width: 100%;
    }
}

h1 {
    color: $gray;
}