@import '../../app.component.scss';
#addDataset {

   // FORM
   form {
    margin: 20px 0;
    }
    .mat-form-field {
        width: 40%;
    }
    .description-field {
    margin-left: 50px;
    }
    .mat-error {
        padding-left: 10px;
        margin-top: -20px;
    }

  // Buttons
  mat-dialog-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    }
   mat-dialog-actions>* {
        margin-top: 30px;
        margin-left: 15px;
    }

    // FILE Button
   .btn-file {
        overflow: hidden;
        background: $accent;
        color: white;
        padding: 9px;
        font-size: 15px;
        position: absolute;
        left: 0;
        bottom: 13px;
    }
   .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        color: white;
        background: $primary;
        cursor: inherit;
        display: block;
    }
   
}