#queryResult {
  display: flex;
  flex-direction: column;
.fourBoxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
  .box {
    padding: 35px 30px;
    color: #00897B;
    font-size: 15px;
    border: 2px solid #4DB6AC;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
  }

  .box2 {
    padding: 40px 30px;
    color: #00897B;
    font-size: 15px;
    border: 2px solid #4DB6AC;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
  }

  .boxWrap {
    width: 25%;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
  }

  h3 {
    margin-left: 0;
    color: gray;
  }

  .varBox {
    border: 2px solid #4DB6AC;
    padding: 18px 8px;
    text-align: center;
    color: gray;
    margin: 3px 0;
  }

  mat-form-field {
    width: 100%;
  }
  button {
    float: right;
    margin-right: 4%;
  }
}
