<div id="addProject">
  <h1 class="subtitle" mat-dialog-title>Create Project</h1>
  <mat-divider></mat-divider>
  <form class="flex column" [formGroup]="addProjectForm" (ngSubmit)="addProject()" autocomplete="off">
    <mat-dialog-content class="flex">
      <mat-form-field>
        <input matInput formControlName="projectName" placeholder="Name">
      </mat-form-field>
      <mat-form-field class="description-field" appearance="outline">
        <textarea matInput formControlName="description" placeholder="Description"></textarea>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-stroked-button color="warn" mat-dialog-close (click)="cancel()">Cancel</button>
      <button type="submit" color="primary" mat-raised-button>Create</button>
    </mat-dialog-actions>
  </form>
</div>